.hip { font: max(9vw, 39pt) sans-serif }
.lip { display:contents  }
.bit { font: 400 2em sans-serif }
.sun { all: unset }
.nip :focus { outline: thick dotted }
.nap { font-weight: lighter }
.wub { font-weight: bolder }
.wuv { text-decoration-style: wavy }
.wah :focus { outline: thick dotted }
.rub { word-spacing: 1px }
.ace { justify-content: space-between }
:target { font-family: fantasy }
:focus-within { cursor: crosshair }
:focus { text-decoration-style: wavy }

.balalava {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.wormhole {
  order: 2;
  font: inherit;
  display: inline-flex;
  margin: auto;
}

.wingspan {
  contain: style;
  display: flex;
  justify-content: space-around;
}

.deepmode {
  font-family: inherit;
  display: inline-flex;
  margin: auto;
  writing-mode: vertical-rl;
}
